.table {
  width: 800px;
  text-align: center;
}

.head {
  background-color: blue;
}

.row {
  outline: 1px solid gray;
}

.row:nth-child(2n) {
  background-color: #8080803d;
}

.item {
  outline: 1px solid gray;
}
